In [1]:
import numpy as np
import pandas as pd

In [ ]:
#Task 1:

In [77]:
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

employee_df = pd.DataFrame(employee_data)
employee_df.to_csv('Employee.csv', index=False)

In [79]:
employee_data

{'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
 'Name': ['John Alter',
  'Alice Luxumberg',
  'Tom Sabestine',
  'Nina Adgra',
  'Amy Johny'],
 'Gender': ['M', 'F', 'M', 'F', 'F'],
 'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
 'Age': [25, 27, 29, 31, 30]}

In [78]:
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}

seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv('Seniority_Level.csv', index=False)

In [80]:
seniority_data

{'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
 'Designation Level': [2, 2, 3, 2, 3]}

In [67]:
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7',
                'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished',
               'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

project_df = pd.DataFrame(project_data)
project_df.to_csv('Project.csv', index=False)

In [81]:
project_data

{'ID': ['A001',
  'A002',
  'A003',
  'A004',
  'A005',
  'A002',
  'A005',
  'A003',
  'A001',
  'A003',
  'A001',
  'A004',
  'A004',
  'A005'],
 'Project': ['Project 1',
  'Project 2',
  'Project 3',
  'Project 4',
  'Project 5',
  'Project 6',
  'Project 7',
  'Project 8',
  'Project 9',
  'Project 10',
  'Project 11',
  'Project 12',
  'Project 13',
  'Project 14'],
 'Cost': [1002000,
  2000000,
  4500000,
  5500000,
  None,
  680000,
  400000,
  350000,
  None,
  300000,
  2000000,
  1000000,
  3000000,
  200000],
 'Status': ['Finished',
  'Ongoing',
  'Finished',
  'Ongoing',
  'Finished',
  'Failed',
  'Finished',
  'Failed',
  'Ongoing',
  'Finished',
  'Failed',
  'Ongoing',
  'Finished',
  'Finished']}

In [ ]:
#Task 2:

In [82]:
import pandas as pd

# Load the CSV file
project_df = pd.read_csv('Project.csv')

# Replace missing cost with running average using a for loop
costs = project_df['Cost'].tolist()
running_sum = 0
count = 0

for i in range(len(costs)):
    if pd.isna(costs[i]):
        if count > 0:
            costs[i] = running_sum / count  # Replace with running average
        else:
            costs[i] = 0  # If first value is NaN, set to 0 or handle separately
    running_sum += costs[i]
    count += 1

# Update the DataFrame and save it
project_df['Cost'] = costs
project_df.to_csv('Project.csv', index=False)

In [83]:
project_df

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2210312.5   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [ ]:
#Task 3:

In [85]:
import pandas as pd

# Load the Employee CSV
employee_df = pd.read_csv('Employee.csv')

# Correct splitting of 'Name' column
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', n=1, expand=True)

# Drop the original 'Name' column
employee_df.drop('Name', axis=1, inplace=True)

# Save the modified DataFrame
employee_df.to_csv('Employee.csv', index=False)

In [86]:
employee_df

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [ ]:
#Task 4:

In [87]:
import pandas as pd

# Load all 3 CSV files
employee_df = pd.read_csv('Employee.csv')
seniority_df = pd.read_csv('Seniority_Level.csv')
project_df = pd.read_csv('Project.csv')

# Merge Employee and Seniority on 'ID'
emp_seniority = pd.merge(employee_df, seniority_df, on='ID', how='left')

# Merge the above with Project on 'ID'
final_df = pd.merge(emp_seniority, project_df, on='ID', how='left')

# Save Final DataFrame
final_df.to_csv('Final.csv', index=False)

# Show the first few rows
print(final_df.head())

     ID Gender    City  Age First Name  Last Name  Designation Level  \
0  A001      M   Paris   25       John      Alter                  2
1  A001      M   Paris   25       John      Alter                  2
2  A001      M   Paris   25       John      Alter                  2
3  A002      F  London   27      Alice  Luxumberg                  2
4  A002      F  London   27      Alice  Luxumberg                  2

      Project       Cost    Status
0   Project 1  1002000.0  Finished
1   Project 9  2210312.5   Ongoing
2  Project 11  2000000.0    Failed
3   Project 2  2000000.0   Ongoing
4   Project 6   680000.0    Failed

In [ ]:
#Task 5:

In [88]:
import pandas as pd

# Load Final DataFrame
final_df = pd.read_csv('Final.csv')

# Calculate Bonus: 5% of cost if project is finished, else 0
final_df['Bonus'] = final_df.apply(
    lambda row: 0.05 * row['Cost'] if row['Status'] == 'Finished' else 0,
    axis=1
)

# Save updated Final DataFrame
final_df.to_csv('Final.csv', index=False)

# Optional: Display updated DataFrame
print(final_df[['ID', 'Project', 'Cost', 'Status', 'Bonus']])

      ID     Project       Cost    Status     Bonus
0   A001   Project 1  1002000.0  Finished   50100.0
1   A001   Project 9  2210312.5   Ongoing       0.0
2   A001  Project 11  2000000.0    Failed       0.0
3   A002   Project 2  2000000.0   Ongoing       0.0
4   A002   Project 6   680000.0    Failed       0.0
5   A003   Project 3  4500000.0  Finished  225000.0
6   A003   Project 8   350000.0    Failed       0.0
7   A003  Project 10   300000.0  Finished   15000.0
8   A004   Project 4  5500000.0   Ongoing       0.0
9   A004  Project 12  1000000.0   Ongoing       0.0
10  A004  Project 13  3000000.0  Finished  150000.0
11  A005   Project 5  3250500.0  Finished  162525.0
12  A005   Project 7   400000.0  Finished   20000.0
13  A005  Project 14   200000.0  Finished   10000.0

In [ ]:
#Task 6:

In [89]:
import pandas as pd

# Load the Final DataFrame
final_df = pd.read_csv('Final.csv')

# Step 1: Demote by 1 for each failed project
# We'll group by ID and apply demotions
def apply_demotion(group):
    failed_count = (group['Status'] == 'Failed').sum()
    group['Designation Level'] = group['Designation Level'] + failed_count  # Increase the number (demotion)
    return group

final_df = final_df.groupby('ID', group_keys=False).apply(apply_demotion)

# Step 2: Remove rows where Designation Level > 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Save updated Final DataFrame
final_df.to_csv('Final.csv', index=False)

# Show final output after demotion
print(final_df[['ID', 'First Name', 'Designation Level']].drop_duplicates())

      ID First Name  Designation Level
0   A001       John                  3
3   A002      Alice                  3
5   A003        Tom                  4
8   A004       Nina                  2
11  A005        Amy                  3

C:\Users\vishw\AppData\Local\Temp\ipykernel_21204\3579570621.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  final_df = final_df.groupby('ID', group_keys=False).apply(apply_demotion)

In [ ]:
#Task 7:

In [90]:
import pandas as pd

# Load Final DataFrame
final_df = pd.read_csv('Final.csv')

# Step 1: Add prefix based on Gender
def add_title(row):
    if row['Gender'] == 'M':
        return 'Mr. ' + row['First Name']
    elif row['Gender'] == 'F':
        return 'Mrs. ' + row['First Name']
    else:
        return row['First Name']

final_df['First Name'] = final_df.apply(add_title, axis=1)

# Step 2: Drop Gender column
final_df.drop('Gender', axis=1, inplace=True)

# Save updated Final DataFrame
final_df.to_csv('Final.csv', index=False)

# Optional: Show preview
print(final_df[['ID', 'First Name', 'Last Name']].drop_duplicates())

      ID  First Name  Last Name
0   A001    Mr. John      Alter
3   A002  Mrs. Alice  Luxumberg
5   A003     Mr. Tom  Sabestine
8   A004   Mrs. Nina      Adgra
11  A005    Mrs. Amy      Johny

In [ ]:
#Task 8:

In [91]:
import pandas as pd

# Load Final DataFrame
final_df = pd.read_csv('Final.csv')

# Apply promotion only once per employee based on Age
def promote_designation(group):
    if group['Age'].iloc[0] > 29:
        group['Designation Level'] = group['Designation Level'].apply(lambda x: max(1, x - 1))
    return group

final_df = final_df.groupby('ID', group_keys=False).apply(promote_designation)

# Save updated Final DataFrame
final_df.to_csv('Final.csv', index=False)

# Optional: Show affected entries
print(final_df[['ID', 'First Name', 'Age', 'Designation Level']].drop_duplicates())

      ID  First Name  Age  Designation Level
0   A001    Mr. John   25                  3
3   A002  Mrs. Alice   27                  3
5   A003     Mr. Tom   29                  4
8   A004   Mrs. Nina   31                  1
11  A005    Mrs. Amy   30                  2

C:\Users\vishw\AppData\Local\Temp\ipykernel_21204\1969479705.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  final_df = final_df.groupby('ID', group_keys=False).apply(promote_designation)

In [ ]:
#Task 9:

In [92]:
import pandas as pd

# Load the Final DataFrame
final_df = pd.read_csv('Final.csv')

# Group by ID and sum the project cost
cost_df = final_df.groupby('ID', as_index=False)['Cost'].sum()
cost_df.rename(columns={'Cost': 'Total cost'}, inplace=True)

# Get distinct First Names from Final DataFrame
first_names_df = final_df[['ID', 'First Name']].drop_duplicates()

# Merge to get First Name
total_proj_cost_df = pd.merge(cost_df, first_names_df, on='ID')

# Reorder columns
total_proj_cost_df = total_proj_cost_df[['ID', 'First Name', 'Total cost']]

# Save the new DataFrame
total_proj_cost_df.to_csv('TotalProjCost.csv', index=False)

# Display result
print(total_proj_cost_df)

     ID  First Name  Total cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

In [ ]:
#Task 10:

In [93]:
import pandas as pd

# Load the Final DataFrame
final_df = pd.read_csv('Final.csv')

# Filter rows where 'City' contains the letter 'o' (case-insensitive)
filtered_df = final_df[final_df['City'].str.contains('o', case=False)]

# Optional: Drop duplicates if you only want one record per employee
# filtered_df = filtered_df.drop_duplicates(subset='ID')

# Display the result
print(filtered_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  3   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  3   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  1   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 13

         Cost    Status     Bonus
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0